<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../assets/css/fonts.css">
    <link rel="stylesheet" href="../assets/main.css">
    <link rel="stylesheet" href="../assets/css/custom.css">

    <script async type="text/javascript" src="../assets/js/Buttons.js"></script>
    {% include head.html %}
    <!-- Add here the links to your CSS files, JavaScript, etc. -->
</head>

<body>
    {% include nav.html %}

    <div class="page-content fade-in">
   
        {{ content }}
   
    </div>


</body>

</html>
