<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/custom.css">
    <script async type="text/javascript" src="{{ site.baseurl }}/assets/js/Buttons.js"></script>

    <!-- Add here the links to your CSS files, JavaScript, etc. -->
</head>

<body>
    {% include header.html %}

    <div class="page-content fade-in">
   
        {{ content }}
   
    </div>


</body>

</html>
