<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fonts.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/project.css">
    {% include head.html %}
</head>

<body>
    {% include nav.html %}

    <div class="page-content">
        <div class="project-header">
            <img src="{{ site.baseurl }}/{{ page.header_image }}" alt="{{ page.title }}">
        </div>
      
        <div class="project-description">
            <h2 style="margin-top:2rem;">
                {{ page.title }}
            </h2>

            {{ content }}
        </div>
        <div class="project-gallery">
            {% for image in page.gallery %}
            <div class="gallery-item">
                <img src="{{ image.src }}" alt="{{ image.caption }}" data-caption="{{ image.caption }}">
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="fullscreen-overlay" class="d-none">
        <span id="prev-image" class="nav-icon">&lt;</span>
        <img id="fullscreen-image" src="" alt="">
        <span id="next-image" class="nav-icon">&gt;</span>
        <div id="fullscreen-caption"></div>
        <button id="close-overlay">
            X
        </button>
    </div>
    <script defer type="text/javascript" src="{{ site.baseurl }}/assets/js/project.js"></script>

</body>

</html>